* {
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f7;
    transition: 0.4s;
}

body.dark {
    background-color: #212121;
}

body.dark .login-container {
    background-color: #212121;
    border: 1px solid #444444;
    color: #ffffff
}

label #switch-details {
    color: #000000;
    font-weight: 650;
    font-size: 11px;
    position: relative;
    top: 1.5rem;
    right: 0.5rem;
    white-space: nowrap;
    transition: 0.4s;
}

body.dark label #switch-details {
    color: #ffffff;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    max-width: 18.75rem;
    margin: 6.25rem auto;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .313rem;
    text-align: center;
    transition: 0.4s;
}

h2  {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-indent: 1.6rem;
}

#user-input {
    background-image: url(assets/user.svg);
    background-repeat: no-repeat;
    background-position: 9px 10px;
    background-size: 20px;
}

#password-input {
    background-image: url(assets/password.svg);
    background-repeat: no-repeat;
    background-position: 12px 10px;
    background-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 0 40px;
}

button:hover {
    background-color: #45a049;
}



.switch-container {
    display: flex;
    width: 4rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(215, 215, 228);
    transition: 0.4s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 20px;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #37393f;
}

input:checked + .slider:before {
    left: calc(100% - 1.7rem);
    background: #37393f;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

@media (max-width: 600px) {
    h2 {
        font-size: 20px;
    }

    button {
        font-size: 13px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 13px;
    }

    #user-input {
        background-position: 8px, 10px;
    }

    #password-input {
        background-position: 11px, 10px;
    }

    label #switch-details {
        white-space: inherit;
        font-size: 14px;
        text-align: right;
        top: 1.2rem;
        right: 0.2rem;
    }

    .switch-container {
        width: 3.5rem;
    }
}